@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap');
.open-sans {
    font-family: 'Open Sans', sans-serif !important;
    &-300 {
        @extend .open-sans;
        font-weight: 300;
    }
    &-400 {
        @extend .open-sans;
        font-weight: 400;
    }
    &-600 {
        @extend .open-sans;
        font-weight: 600;
    }
    &-700 {
        @extend .open-sans;
        font-weight: 700;
    }
}

.nunito {
    font-family: 'Nunito', sans-serif !important;
    &-300 {
        @extend .nunito;
        font-weight: 300;
    }
    &-400 {
        @extend .nunito;
        font-weight: 400;
    }
    &-600 {
        @extend .nunito;
        font-weight: 600;
    }
    &-700 {
        @extend .nunito;
        font-weight: 700;
    }
}