@import 'font';
@import 'aux';

.skill-container{
    background:{
        color: #ccc;
    }
    border-radius: 0.8rem;
    padding: 10px;
}

.skill-item{
    width: 150px;
    height: 150px;
    border: 3px solid orange;
    border-radius: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    &-white{
        @extend .circle;
        background: white;
    }
}